.App {
    display: grid;
    gap: 0;
    grid-template-columns: 200px auto;
    grid-template-areas: 'sidebar puzzleArea';
    font-size: xx-large;
    height: 100vh;
}

div {
    box-sizing: border-box;
}

.Sidebar {
    grid-area: 'sidebar';
    background-color: rgb(214, 157, 88);
    box-sizing: border-box;
    padding: 20px;
}

.PuzzleArea {
    grid-area: 'puzzleArea';
}

.sandbox {
    position: absolute;
    left: 10px;
    top: 100px;
}